%strong
	= @participant.user.first_name + " " + @participant.user.last_name
	toevoegen
%p
	Als je deze persoon toevoegt krijgt wordt hij hiervan op de hoogte gebracht.
	%br/
	Weet je het zeker?

= form_for [@participant, @connection] do |p|
	.buttons
		= p.submit 'Ja, voeg toe'
		%a{:href => "#", :class => "hide_overlay"}
			%span.icon d
			Nee, annuleren.