%span.icon !
%h1 Helaas, je bent niet ingelogd.

.line

%h2 Wij maken gebruik van LinkedIn.
%p Om gebruik te kunnen maken van LaRed MeetUp moet er eerst geautoriseerd worden met linkedin.

- if notice
	%p#notice= notice
	
= link_to 'Inloggen met LinkedIn', authenticate_linkedin_url, :class => "button"
