- @array = ""

- @meeting.participants.each do |p|

	.stack.linkedin{:data => {:linkedin => p.participating_user.linkedin_id}}
		.main_card
			.clickarea
			.card.front
				%a{:href => "#"} 4
				.card_inside
					%h2= p.participating_user.first_name + " " + p.participating_user.last_name
					%small
					%p= p.motivation
			
			.card.back
				%a{:href => "#"} 4
				.card_inside
					%img{:alt => "picture"}
					%h2= p.participating_user.first_name + " " + p.participating_user.last_name
					%small