- if @current_participant
	= button_to 'Uitschrijven voor deze meeting', meeting_participant_url(@meeting, @current_participant), :method => :delete
- else
	= link_to 'Deelnemen aan deze meeting', new_meeting_participant_url(@meeting), :remote => true

