body {
	background: url(../images/page_bg.png);
	font-family: "Aller";
}

/* Container */

#container {
	background: #262626;
	border-bottom: 1px solid #000;
	margin: 20px auto;
	width: 1026px;
	
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

/* Login */

#login_container {
	margin: 0 auto;
	text-align: center;
	width: 780px;
}

#bar {
	border-bottom: 1px solid #000;
	border-top: 1px solid #fce786;
	height: 6px;
	margin-bottom: 30px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#faaf23), to(#f7931b));
}

.line {
	border-bottom: 1px solid #393939;
	border-top: 1px solid #1a1a1a;
}

#login_container .line {
	margin: 50px auto 35px auto;
}

#login_container span.icon {
	color: #f8991d;
	font-size: 48px;
	text-shadow: 0 -1px 0 #fce786;
	line-height: 75px;
}

#login_container h1 {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
}

#login_container h2 {
	color: #8c8c8c;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
}

#login_container p {
	color: #8c8c8c;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 50px;
	margin-top: 10px;
	text-shadow: 0 1px 0 #000;
}

.button {
	color: #5d390b;
	font-size: 18px;
	font-weight: bold;
	padding: 14px 50px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fcd532;

	background: -webkit-gradient(linear, left bottom, left top, from(#f7911b), to(#fabd38));
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #000;
}

.button button {
	background: none;
}

#login_container small {
	color: #757575;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 50px;
	text-shadow: 0 1px 0 #000;
}

#login_container a {
	color: #3797ce;
	font-size: 14px;
	text-shadow: 0 1px 0 #000;
}

/* Stacks & Cards */
.stack {
	display: inline-block;
	height: 150px;
	margin-bottom: 15px;
	margin-right: 15px;
	position: relative;
	width: 300px;
}

.stack:nth-child(3n) {
	margin-right: 0px;
}

.card {
	background: #000;
	border: 1px solid #f5edd8;
	position: absolute;
}

.card_inside {
	background: url(../images/card_bg.png);
	border-top: 1px solid #c5bfb0;
	height: 127px;
	width: 298px;
}

.card h2 {
	color: #292828;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 10px 20px;
	text-shadow: 0 1px 0 #efede5;
}

.card small {
	color: #292828;
	display: block;
	font-size: 11px;
	height: 12px;
	width: 230px;
	margin: -5px 20px 5px 20px;
	text-shadow: 0 1px 0 #fff;	
}

.card.front small {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card p {
	color: #746f65;
	font-size: 12px;
	line-height: 18px;
	margin: 0 20px;
	text-shadow: 0 1px 0 #efede5;
}

div:not(.main_card) > .card {
	z-index: 1;
}

.main_card {
	position: absolute;
	width: 100%;
	z-index: 3;
}

.main_card .card.front a {
	background: url(../images/vlaggetje.png) no-repeat;
	color: #fff;
	display: block;
	font-family: "Aller Display";
	font-size: 24px;
	height: 50px;
	padding-left: 4px;
	padding-top: 20px;
	position: absolute;
	left: 250px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	top: -6px;
	width: 40px;
	z-index: 999;
}

.main_card .card.back a {
	background: url(../images/vlaggetje2.png) no-repeat;
	color: #fff;
	font-family: "Aller Display";
	font-size: 36px;
	left: 232px;
	padding-left: 3px;
	padding-top: 6px;
	position: absolute;
	top: -6px;
	height: 135px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	width: 67px;
}

.main_card .card.back h2 {
	font-size: 14px;
	margin-left: 0;
}

.main_card .card.back img, .main_card .card.back .imagefix {
	float: left;
	margin: 15px 10px 10px 20px;
	height: 65px;
	width: 65px;
	
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
}

.main_card .card.back .imagefix {
	background: rgba(0, 0, 0, .1);
}

.main_card .card.back small {
	line-height: 16px;
	width: 210px;
}

.main_card.flip .card.back a {
	display: block;
}

.main_card, .main_card .card {
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	-webkit-transition: all .3s ease-in-out;
}

.card.back {
	opacity: 0;
}

.connections .card:nth-child(1) {
	left: 7px;
	top: -5px;
	z-index: 2;
}

.connections .card:nth-child(1) .card_inside {
	opacity: 0.9;
	width: 284px;
}

.connections .card:nth-child(2) {
	left: 13px;
	top: -9px;
}

.connections .card:nth-child(2) .card_inside {
	opacity: 0.7;
	width: 272px;
}

.connections .card:nth-child(3) {
	z-index: 2;
}

.connections .card:last-child .card_inside {
	opacity: .92;
}

.main_card.flip {	
	-webkit-transform: rotateY(180deg);
}

.main_card.flip .card.front {
	opacity: 0;
	
	-webkit-transition: opacity 0s;
	-webkit-transition-delay: .15s;
}

.main_card.flip .card.back {
	opacity: 1;
	
	-webkit-transform: rotateY(180deg);
	-webkit-transition: opacity 0s;
	-webkit-transition-delay: .15s;
}

.main_card.flip .clickarea {
	position: absolute;
	height: 65px;
	width: 67px;
	z-index: 9999;
}

.main_card.flip .add_connection {
	position: absolute;
	top: 65px;
	height: 65px;
	width: 67px;
	z-index: 9999;
}

.stack:hover {
	cursor: pointer;
}

/* Header */

header {
	background: -webkit-gradient(linear, left top, left bottom, from(#fab324), to(#f7931b));
	border-bottom: 1px solid #2e2e2e;
	border-top: 1px solid #fce786;
	height: 112px;
	padding: 0 44px;
	margin-top: 38px;
}

.spacer {
	background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#2d2d2d));
	border-bottom: 1px solid #1e1e1e;
	border-top: 1px solid #686868;
	height: 20px;
}

/* Personal Information */

#personal_info {
	color: #4c2f0a;
	display: -webkit-box;
	font-size: 12px;
	float: right;
	line-height: 18px;
	margin-top: 22px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	
	-webkit-box-orient: horizontal;
}

#personal_info img {
	height: 65px;
	margin-right: 15px;
	width: 65px;
	
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

#personal_info strong {
	font-family: "Aller Display";
	font-size: 14px;
	margin-right: 50px;
	text-transform: uppercase;
}

#personal_info .dropdown {
	background: #f5b35c;
	border: 1px solid #ea911c;
	color: #8d5812;
	cursor: pointer;
	margin-top: 3px;
	position: absolute;
	
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 #f8c685;
}

#personal_info .dropdown.active, #personal_info .dropdown:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
	border: 1px solid #4c4c4c;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	
	-webkit-box-shadow: inset 0 1px 0 #747474;
}

#personal_info .dropdown:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#323232));
}

#personal_info .dropdown:hover.active {
	background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
}

#personal_info .dropdown .icon {
	border-right: 1px solid #e79f41;
	font-size: 16px;
	line-height: 24px;
	padding: 5px 9px;
}

#personal_info .dropdown.active .icon, #personal_info .dropdown:hover .icon {
	border-right: 1px solid #4c4c4c;
}

#personal_info .dropdown .text {
	border-left: 1px solid #f4be78;
	font-size: 12px;
	line-height: 24px;
	padding: 5px 55px 5px 9px;
	margin-left: -3px;
}

#personal_info .dropdown.active .text, #personal_info .dropdown:hover .text {
	border-left: 1px solid #3a3a3a;
}

#personal_info .dropdown ul {
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#303030));
	display: none;
	text-align: center;
	
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

#personal_info .dropdown ul li {
	border-bottom: 1px solid #343434;
	border-top: 1px solid #696969;
}

#personal_info .dropdown ul li a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	opacity: .75;
	padding: 8px 0px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}

#personal_info .dropdown ul li a:hover {
	opacity: 1;
}

/* Navigation */

nav {
	float: left;
}

nav ul li {
	display: inline-block;
	margin-right: 15px;
}

nav ul li a {
	background: #f5b35c;
	border: 1px solid #ea911c;
	border-bottom: none;
	color: #8d5812;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 40px;
	height: 38px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	padding: 0 15px;
	margin-top: 73px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 #f8c685;
}

nav ul li.active a {
	background: #363636;
	border: 1px solid #363636;
	border-bottom: none;
	color: #fff;
	height: 40px;
	text-shadow: 0 1px 0 #000;
	
	-webkit-box-shadow: inset 0 1px 0 #707070;
}

/* Notifications */

.notice {
	color: #420406;
	line-height: 46px;
	font-size: 12px;
	font-weight: bold;
	padding: 0 40px 0 55px;
	position: absolute;
	right: 44px;
	top: 0px;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #151515;
}

.notice .icon {
	font-size: 18px;
	font-weight: normal;
	line-height: 58px;
	position: absolute;
	left: 20px;
	top: -5px;
}

.notice .close {
	cursor: pointer;
	font-size: 14px;
	left: auto;
	right: 5px;
	top: -18px;
}

.error {
	color: #420406;
	text-shadow: 0 1px 0 #db1319;
	
	background: url(../images/notice_bg.png);
}

.error .close {
	color: #5f0609;
}

/* Information section */

#information {
	background: #262626;
	border-bottom: 1px solid #1a1a1a;
	padding: 25px 44px;
	position: relative;
}

.information_show {
	border: none;
}

#information .title {
	border-bottom: 1px solid #1a1a1a;
	padding-bottom: 12px;
}

#information .title h2 {
	color: #fff;
	display: inline;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0 1px 0 #000;
}

#information .title h3 {
	color: #cecece;
	display: inline;
	font-size: 14px;
	margin-left: 10px;
	text-shadow: 0 1px 0 #000;
}

#information .title small {
	color: #d2d2d2;
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}

#information .title input {
	background: url(../images/searchbar.png) no-repeat 10px 7px #171717;
	border: none;
	color: #ccc;
	float: right;
	font-size: 12px;
	height: 24px;
	padding-left: 30px;
	width: 190px;
	
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 0 1px 0 #414141;
}

input::-webkit-input-placeholder {
	color: #4c4c4c;
	font-size: 12px;
}

#information p {
	border-top: 1px solid #393939;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 20px;
	padding-top: 8px;
	text-align: justify;
	text-shadow: 0 1px 0 #000;
}

#information.information_show p {
	border: none;
}

#information.information_show > h2 {
	border-top: 1px solid #393939;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding-top: 25px;
	text-shadow: 0 1px 0 #000;
}

#information a.button {
	color: #5d390b;
	font-size: 13px;
	font-weight: bold;
	line-height: 75px;
	padding: 12px 25px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fcd532;

	background: -webkit-gradient(linear, left bottom, left top, from(#f7911b), to(#fabd38));
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #000;
}

/* Pagination */

#information > ul {
	margin: 15px auto 0 auto;
	text-align: center;
}

#information > ul li {
	display: inline;
}

#information > ul li a {
	background: url(../images/pagination.png) no-repeat center;
	display: inline-block;
	height: 8px;
	width: 7px;
	padding: 6px;
	margin: 0 -2px;
	text-indent: -9999px;
}

#information > ul li.active a {
	background: url(../images/pagination_active.png) no-repeat center;
}

/* Main content */

#main_content {
	background: url(../images/bg.png);
	border-bottom: 1px solid #000;
	border-top: 1px solid #393939;
	padding: 35px 44px 0 44px;
	
	-webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .3);
}

/* Tab Content */

#tabcontent {
	margin-top: 20px;
}

#tabcontent ul li {
	display: inline-block;
}

#tabcontent ul li a {
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#646464));
	color: #2b2b2b;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #979797;
	position: relative;
	width: 140px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-box-shadow: 0 -1px 0 #b0afaf;
}

#tabcontent ul li.active a {
	background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2), to(#9a9a9a));
	line-height: 27px;
	text-shadow: 0 1px 0 #eaeaea;
	z-index: 999;
	
	-webkit-box-shadow: 0 -1px 0 #dedede;
}

#tabcontent ul li a span.icon {
	float: left;
	font-size: 16px;
	font-weight: normal;
	left: 10px;
	top: 1px;
	position: absolute;
}

#tabcontent ul li.active a span.icon {
	text-shadow: 0 1px 0 #eee;
}

.tabcontentbar {
	background: -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#868686));
	border-bottom: 1px solid #6c6c6c;
	border-top: 1px solid #c6c6c6;
	height: 8px;
	margin-top: -1px;
}

#tabcontent .content {
	background: #e6e3da;
	padding: 22px;
	
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

#tabcontent .content h2 {
	color: #292828;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 0 #f8f7f4;
}

/* Footer */

footer {
	background: #262626;
	border-bottom: 1px solid #323232;
	border-top: 1px solid #393939;
	min-height: 100px;
	
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

/* Pictos */

.icon {
	font-family: Pictos;
}

/* Overlay */

#overlay {
	background: url(../images/overlay.png);
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#centerpack {
	height: 100%;
	position: relative;
	width: 100%;
}

#modal {
	background: #e8e5dd;
	border-top: 1px solid #ccc9be;
	margin: 150px auto;
	text-align: center;
	position: relative;
	width: 460px;
	z-index: 999999;

	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#modal strong {
	color: #292828;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 25px 0 8px 0;
	text-shadow: 0 1px 0 #fff;
}

#modal p {
	color: #54514b;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
}

#modal small {
	color: #292828;
	float: right;
	font-size: 14px;
	margin-right: 15px;
	margin-top: 35px;
	text-shadow: 0 1px 0 #fff;
}

#modal textarea {
	background: url(../images/textarea_bg.png);
	border: 1px solid #bab7af;
	color: #1f3873;
	font-family: "Bradley Hand ITC TT";
	font-size: 18px;
	height: 70px;
	margin-top: 5px;
	resize: none;
	overflow: hidden;
	max-length: 140;
	padding: 15px;
	width: 400px;
	
	-webkit-box-shadow: 0 1px 0 #fff;
}

#modal .buttons {
	background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#232323));
	border: 1px solid #4c4c4c;
	display: -webkit-box;
	margin: -1px;
	margin-top: 25px;
	
	-webkit-box-orient: horizontal;
}
#modal .buttons input {
	background: none;
	border: none;
	margin: none;
	padding: none;
	display:block;
}
#modal .buttons a, #modal .buttons input {
	border-top: 1px solid #656565;
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	
	-webkit-box-flex: 1;
}

#modal .buttons a:first-child, #modal .buttons input:first-child {
	border-right: 1px solid #3f3f3f;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

#modal .buttons a:last-child, #modal .buttons input:last-child {
	color: #969696;
	text-shadow: 0 1px 0 #000;
}

#modal .buttons span.icon {
	font-size: 18px;
	margin-right: 5px;
}

#modal .buttons a:first-child span.icon, #modal .buttons input:first-child span.icon {
	color: #009a2c;
	text-shadow: 0 1px 0 #000;
}

#modal .buttons a:last-child span.icon, #modal .buttons input:last-child span.icon {
	color: #cf060e;
	opacity: .5;
}

#modal .colorindicator {
	background: #fab625;
	border: 1px solid #8f6815;
	border-bottom: 1px solid #f5edd8;
	height: 8px;
	left: 4px;
	position: absolute;
	width: 450px;
	top: -11px;
	
	-webkit-box-shadow: inset 0 1px 0 #fbca5c;
}