%strong
	Afmelden voor het event 
	= @meeting.title
	?
%p
	Weet je zeker dat je je wilt afmelden voor de meeting
	= @meeting.title
	?

= form_for [@meeting, @participant] do |p|
	.buttons
		= link_to meeting_participant_url(@meeting, @participant), :method => :delete do
			%span.icon 3
			Ja, uitschrijven
		%a{:href => "#", :class => "hide_overlay"}
			%span.icon d
			Nee, annuleren