.stack
	.main_card
		.clickarea
		= link_to new_participant_connection_url(participant), :remote => true do
			.add_connection
		.card.front
			%img{:alt => "Ribbon", :src => "/images/vlaggetje.png"}/
			.card_inside
				%h2= participant.user.first_name + " " + participant.user.last_name

				%p= participant.motivation
		.card.back
			.ribbon
				%a{:href => "#"}
			.card_inside
				-# img needed
				%h2 Beest
				%p Balalaowo
	.connections
		= render participant.connections
