.title= "Hallo, #{@user.first_name} #{@user.last_name}"
%p Hierbij nodigen wij U uit voor onze nieuwe Lared dienst MeetUp

%p
	Wij maken gebruik van LinkedIn. Door op de onderstaande knop te drukken geeft U aan het eens te zijn met onze User Agreement en kunt U autoriseren met LinkedIn.
	%br
	= link_to 'Authenticate with LinkedIn', users_linkedin_authenticate_url(@user.ticket)
