= form_for [@participant, @connection] do |p|
	%p If you add the user the person will be notified by email. Are you sure you want to add the user?
	.buttons
		= p.submit 'Ok'
		%a.hide_overlay Cancel
		%a.hide_overlay{:href => "#"}
			%span.icon d
			Annuleren
	