%h2
	=image_tag("admin/icons/user_32.png")
	Admins
	
.content-box
	.content-box-header
		%h3 Admins
		
	.content-box-content
	
		%table
			%thead
				%tr
					%th
						ID
					%th
						Email
			
			%tbody
				- @admins.each do |admin|
					%tr
						%td= admin.id
						%td= admin.email